<template name="appLayout">
    {{>navbar}}

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    {{>yield}}

                </div>
            </div>

        </div>


</template>