<template name="navbar">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{pathFor 'home'}}">Brand</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {{#if currentUser}}


                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Medicos <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{pathFor 'insertDoctorForm'}}">Novo</a></li>
                                <li><a href="{{pathFor 'doctorListPage'}}">Listar</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pacientes <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{pathFor 'insertPacientForm'}}">Novo</a></li>
                                <li><a href="{{pathFor 'pacientListPage'}}">Listar</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Atendentes <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{pathFor 'insertAtendenteForm'}}">Novo</a></li>
                                <li><a href="{{pathFor 'adentendesListPage'}}">Listar</a></li>
                            </ul>
                        </li>
                        <li><a href="{{pathFor 'calendarPage'}}">Calendar</a></li>
                    </ul>

                {{/if}}
                <ul class="nav navbar-nav navbar-right">
                    {{> loginButtons}}
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</template>