
<template name="insertDoctorForm">
    {{> quickForm collection="Doctor"  id="insertDoctorForm" type="insert"}}
</template>

<template name="updateDoctorForm">
    {{> quickForm collection="Doctor" doc=this id="updateDoctorForm" type="update"}}
</template>
