<template name="doctorListPage">
    <ul class="list-group">
        {{#each doctors}}
            {{>doctorListItem}}
        {{/each}}
    </ul>
    {{> paginate page='items.list.page'}}
</template>