<template name="insertPacientForm">
    {{> quickForm collection="Pacient" id="insertPacientForm" type="insert"}}
</template>

<template name="updatePacientForm">
    {{> quickForm collection="Pacient" doc=this id="updatetPacientForm" type="update"}}
</template>