
<template name="insertAtendenteForm">
    {{> quickForm collection="Atendente" id="insertAtendenteForm" type="insert"}}
</template>
<template name="updateAtendenteForm">
    {{> quickForm collection="Atendente" doc=this id="insertAtendenteForm" type="update"}}
</template>